* {
    font-family: sans-serif
}

:root {
    --dark-color-a: #121D30;
    --dark-color-b: #454E5C;
    --light-blue: rgb(46, 192, 245);
    --highlight: #3FCFC1;
    --default: #ffffff;
}

/* background: var(--light-color); */

body {
    background-color: var(--dark-color-b);
}

.nav {
    background-color: var(--dark-color-a);
    -webkit-box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.3);
}

.hamburger {
    flex-basis: 20%;
    padding: 1rem 1.5rem;
    color: var(--default);
    font-size: 2rem;
}

.nav-header {
    flex-basis: 60%;
    justify-content: center;
    color: var(--default);
    align-self: center;
}

.profile-picture {
    justify-content: end;
    flex-basis: 20%;
    align-self: center;
    padding: 0 1rem;
}

.profile-picture img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0;
}

footer {
    position: fixed;
    width: 100%;
    height: 4rem;
    bottom: 0;
    background-color: var(--dark-color-a);
    align-items: center;
    padding-top: 0.25rem;
    -webkit-box-shadow: 0px -7px 20px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -7px 20px 2px rgba(0, 0, 0, 0.3);
}

.icon {
    flex-basis: 19.5%;
    color: var(--default);
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
    padding-bottom: 1.75rem;
}

.post-icon {
    flex-basis: 20%;
    color: var(--default);
    font-size: 2.2rem;
    margin: 0;
    text-align: center;
    position: relative;
    bottom: 1.3rem;
    background: rgb(28, 39, 59);
    background: linear-gradient(90deg, rgba(28, 39, 59, 1) 50%, rgba(69, 78, 92, 1) 100%);
    border: 5px solid var(--dark-color-a);
    border-radius: 50%;
    padding: 1rem;
}

i:hover {
    color: rgb(46, 192, 245);
}

/* event post */

.card {
    width: 90%;
    border-radius: 3rem;
    background-color: #121D30;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 9px 9px 20px 1px rgba(0, 0, 0, 0.66);
    box-shadow: 9px 9px 20px 1px rgba(0, 0, 0, 0.66);
}

.post {
    padding: 0.25rem 1rem;
}

.card:last-child {
    margin-bottom: 10rem;
}

.event-image img {
    height: 16rem;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    object-fit: cover;
}

.event-date {
    height: 7.2rem;
    width: 7.2rem;
    background-color: var(--highlight);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12rem;
    margin-right: 1%;
    color: var(--default);
    -moz-box-shadow: inset 2px 0 10px #000000;
    -webkit-box-shadow: inset 2px 0 10px #000000;
    box-shadow: inset 2px 0 10px #000000;
}

.card .row h1 {
    padding: 0;
    margin-bottom: 0;
    margin-top: 1.25rem;
    font-size: 2.5rem;

}

.card .row h3 {
    margin: 0;
    font-size: 1.5rem;

}

.card-title {
    color: var(--default);
    display: flex;
    flex-wrap: wrap;
}

.card-title h2 {
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

.card-title h3 {
    padding-left: 0.25rem;
}

.card-title h4,
.card-title h5 {
    margin: 0;
    width: 100%;
    padding: 0.25rem 1rem;
    color: #3FCFC1
}

.event-caption {
    border: 1px solid var(--default);
    padding: 1rem 1rem;
    color: var(--default);
    height: 8rem;
}

.bottom-arrow {
    text-align: center;
    color: #3FCFC1;
    padding-top: 0.5rem;
    font-size: 2rem;
}

.extra-info {
    padding: 0 1rem;
    border: 1px solid var(--default);
    color: var(--default);
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.extra-info h2 {
    margin-top: 2rem;
}

.extra-info p {
    margin-bottom: 3rem;
}

.pop {
    max-height: 100rem;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
}

.event-time,
.event-planning {
    flex-basis: 50%;
    color: var(--default);
    border: 1px solid var(--default);
    margin: 0;
    align-self: center;
    padding: 0.5rem;
}

.event-planning span {
    color: var(--highlight)
}

/* new card post */

.post {
    width: 90%;
    border-radius: 3rem;
    background-color: #121D30;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 9px 9px 20px 1px rgba(0, 0, 0, 0.66);
    box-shadow: 9px 9px 20px 1px rgba(0, 0, 0, 0.66);
    padding: 0;
}

.post .card-title {
    width: 80%;
}

.post-image img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}

.card-title h5 {
    padding: 0.5rem 2rem 0rem;
    font-style: italic;
}

.card-title h3 {
    padding: 0.25rem 1.5rem 0.5rem;
}

.post-caption {
    padding: 0.25rem 1rem;
    color: var(--default);
}

.user-caption-img img,
.user-comment-img img {
    width: 3rem;
    border-radius: 50%;
    padding-right: 0.2rem;
}

.user-caption-img {
    width: 8%;
    padding: 0.25rem;
    font-size: 0.75rem;
    color: white;
    margin-right: 2rem;
    margin-top: 0.25rem;
}

.user-caption-text {
    width: 85%;
}

.user-comment-img {
    width: 8%;
    font-size: 0.75rem;
}

.user-comment-text {
    width: 80%;
    color: rgb(228, 225, 192);
    padding: 0.25rem;
}

.text-center {
    text-align: center;
}